<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="AuthType" value="google" />
    <!--Google/Ptc-->
    <add key="PtcUsername" value="" />
    <!--Username-->
    <add key="PtcPassword" value="" />
    <!--Password-->
    <add key="Email" value="" />
    <!--Google E-mail-->
    <add key="Password" value="" />
    <!--E-mail Password-->
    <add key="GoogleUsername" value="" />
    <!--Google E-mail-->
    <add key="GooglePassword" value="" />
    <!--E-mail Password-->
    <add key="GoogleRefreshToken" value="" />
    <add key="DefaultLatitude" value="-36.714359" />
    <!--Default Viaduct Harbour, Auckland, New Zealand-->
    <add key="DefaultLongitude" value="174.747205" />
    <!--Default Viaduct Harbour, Auckland, New Zealand-->
    <add key="DefaultAltitude" value="0.0" />
    <!--Default Viaduct Harbour, Auckland, New Zealand-->
    <add key="LevelOutput" value="levelup" />
    <!--2 Modes: "time": Every XXX seconds and "levelup" every levelup-->
    <add key="LevelTimeInterval" value="1" />
    <!--Pick 1 if levelup and time in seconds if "time"-->
    <add key="Recycler" value="true" />
    <!--Recycler master switch-->
    <add key="RecycleItemsInterval" value="60" />
    <!--Recycle Interval in seconds-->
    <add key="Language" value="english" />
    <!--Languages english/german-->
    <add key="RazzBerryMode" value="probability" />
    <!--When to use RazzBerry cp/probability-->
    <add key="RazzBerrySetting" value="0.4" />
    <!--Cp Mode: Use RazzBerry when Pokemon is over this value; pobability Mode: Use Razzberry when % between 0 and 1 of catching is under this value-->
    <add key="TransferType" value="Duplicate" />
    <!--none/cp/iv/leaveStrongest/duplicate/all Whitelists/blackslists for each type is in Program.cs-->
    <add key="TransferCPThreshold" value="0" />
    <!--transfer pokemon with CP less than this value if cp transfer type is selected. Whitelist in Program.cs-->
    <add key="TransferIVThreshold" value="0" />
    <!--transfer pokemon with IV less than this value if iv transfer type is selected. Whitelist in Program.cs-->
    <add key="TransferNumThreshold" value="0" />
    <!--transfer pokemon when is more than this value if leaveStrongest transfer type is selected.-->
    <add key="TravelSpeed" value="20" />
    <!--The speed to travel in km/h-->
    <add key="ImageSize" value="50" />
    <!--PokeUi image size-->
    <add key="CatchPokemon" value="true" />
    <!--Only visit pokestop and collect items-->
    <add key="EvolveAllGivenPokemons" value="false" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="MaxItemPokeBall" value="100" />
    <add key="MaxItemGreatBall" value="100" />
    <add key="MaxItemUltraBall" value="100" />
    <add key="MaxItemMasterBall" value="200" />
    <add key="MaxItemRazzBerry" value="100" />
    <add key="MaxItemRevive" value="20" />
    <add key="MaxItemPotion" value="0" />
    <add key="MaxItemSuperPotion" value="0" />
    <add key="MaxItemHyperPotion" value="50" />
    <add key="MaxItemMaxPotion" value="100" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider"
             type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider"
             type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>