[submodule "POGOProtos-Rocket"]
	path = POGOProtos-Rocket
	url = https://github.com/Furtif/POGOProtos.git
[submodule "PokemonGo.RocketAPI-Rocket"]
	path = PokemonGo.RocketAPI-Rocket
	url = https://github.com/Furtif/PokemonGo.RocketAPI.git
