[submodule "FeroxRev"]
	path = FeroxRev
	url = https://github.com/Necrobot-Private/PokemonGo.RocketAPI.git
	branch = master
[submodule "PoGo.NecroBot.Logic"]
	path = PoGo.NecroBot.Logic
	url = https://github.com/Furtif/NecroBot/tree/master/PoGo.NecroBot.Logic
