################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

packages
bin/
obj/
/PokemonGo/RocketAPI/Proto/google/protobuf
/PokemonGo/RocketAPI/bin/debug
/PokemonGo/RocketAPI/Window/bin/debug
/PokemonGo/RocketAPI/Console/bin/debug
