<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="C5" version="2.4.5947.17249" targetFramework="net452" />
  <package id="CloudFlareUtilities" version="0.2.1-alpha" targetFramework="net452" />
  <package id="EngineIoClientDotNet" version="0.9.22" targetFramework="net452" />
  <package id="EPPlus" version="4.1.0" targetFramework="net452" />
  <package id="GeoCoordinate" version="1.1.0" targetFramework="net452" />
  <package id="Google.Protobuf" version="3.1.0" targetFramework="net452" />
  <package id="LiteDB" version="2.0.4" targetFramework="net452" />
  <package id="LRUCache" version="0.1.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.SignalR.Client" version="2.2.1" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="Newtonsoft.Json.Schema" version="2.0.6" targetFramework="net452" />
  <package id="POGOProtos.NetStandard1" version="2.3.0" targetFramework="net452" />
  <package id="PushBulletSharp" version="2.3.3" targetFramework="net452" />
  <package id="S2Geometry" version="1.0.3" targetFramework="net452" />
  <package id="SocketIoClientDotNet" version="0.9.13" targetFramework="net452" />
  <package id="Telegram.Bot" version="10.3.1" targetFramework="net452" />
  <package id="WebSocket4Net" version="0.14.1" targetFramework="net452" />
</packages>