<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="AuthType" value="Ptc" />
    <!--Google/Ptc-->
    <add key="PtcUsername" value="" />
    <!--Username-->
    <add key="PtcPassword" value="" />
    <!--Password-->
    <add key="GoogleUsername" value="" />
    <!--Google E-mail-->
    <add key="GooglePassword" value="" />
    <!--E-mail Password-->
    <add key="GoogleRefreshToken" value="" />
    <add key="DefaultLatitude" value="53.551476" />
    <!--Default Viaduct Harbour, Auckland, New Zealand-->
    <add key="DefaultLongitude" value="9.99228" />
    <add key="DefaultAltitude" value="10" />
    <!--Default Viaduct Harbour, Auckland, New Zealand-->
    <add key="LevelOutput" value="levelup" />
    <!--2 Modes: "time": Every XXX seconds and "levelup" every levelup-->
    <add key="LevelTimeInterval" value="1" />
    <!--Pick 1 if levelup and time in seconds if "time"-->
    <add key="Recycler" value="true" />
    <!--Recycler master switch-->
    <add key="RecycleItemsInterval" value="60" />
    <!--Recycle Interval in seconds-->
    <add key="Language" value="english" />
    <!--Languages english/german-->
    <add key="RazzBerryMode" value="probability" />
    <!--When to use RazzBerry cp/probability-->
    <add key="RazzBerrySetting" value="0.4" />
    <!--Cp Mode: Use RazzBerry when Pokemon is over this value; pobability Mode: Use Razzberry when % between 0 and 1 of catching is under this value-->
    <add key="TransferType" value="IV Duplicate under cp threshold" />
    <!--none/cp/iv/leaveStrongest/duplicate/all Whitelists/blackslists for each type is in Program.cs-->
    <add key="TransferCPThreshold" value="1000" />
    <!--transfer pokemon with CP less than this value if cp transfer type is selected. Whitelist in Program.cs-->
    <add key="TransferIVThreshold" value="80" />
    <!--transfer pokemon with IV less than this value if iv transfer type is selected. Whitelist in Program.cs-->
    <add key="TravelSpeed" value="60" />
    <!--PokeUi image size-->
    <add key="CatchPokemon" value="true" />
    <!--Only visit pokestop and collect items-->
    <add key="EvolveAllGivenPokemons" value="false" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <add key="MaxItemPokeBall" value="100" />
    <add key="MaxItemGreatBall" value="100" />
    <add key="MaxItemUltraBall" value="100" />
    <add key="MaxItemMasterBall" value="200" />
    <add key="MaxItemRazzBerry" value="100" />
    <add key="MaxItemRevive" value="20" />
    <add key="MaxItemPotion" value="0" />
    <add key="MaxItemSuperPotion" value="0" />
    <add key="MaxItemHyperPotion" value="50" />
    <add key="MaxItemMaxPotion" value="100" />

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="C5" publicKeyToken="282361b99ded7e8e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.5947.17248" newVersion="2.4.5947.17248" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
