<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxMin" version="5.14.5506.26202" targetFramework="net452" />
  <package id="GMap.Net" version="1.0.1" targetFramework="net452" />
  <package id="GMap.NET.Presentation" version="1.7.1" targetFramework="net452" />
  <package id="ObjectListView.Official" version="2.9.1" targetFramework="net452" />
</packages>